# Dependencies
node_modules
**/node_modules

# Build outputs
.next
**/dist
**/.next

# Git
.git
.gitignore

# IDE
.vscode
.idea

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Environment files (use docker-compose env instead)
.env
.env.*
!.env.example

# Test files
coverage
**/*.test.ts
**/*.spec.ts
**/test

# Documentation
*.md
!README.md

# Misc
.DS_Store
Thumbs.db
*.dump
